{% extends 'base.html.twig' %}

{% block title %}Youtube API Project{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <b>Playlist name: </b> {{ title }} <br>
                <b>Description: </b> {{ description }}<br>
                <b>Channel: </b> {{ channelTitle }}
            </div>
        </div>
    </div>
{% endblock %}